/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: #9fb9be;
}
.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 13px;
  padding: 9px 20px 20px;
  background: #ffffff63;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display {
  height: 82px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
  transition-delay: 500ms;
  transition: ease-in-out;
}
.buttons button:active {
  transform: scale(0.99);
  background-color: #c0bebe;
}

.buttons button:hover {
  background-color: #dadada;
}

.buttons button:focus {
  background-color: #c0bebe;
}

.operator {
  color: #1d7ccf;
}
